.button {
    -fx-pref-width: 250px;
    -fx-pref-height: 50px;
    -fx-background-color: aliceblue;
}

.button:hover {
    -fx-background-color: cornflowerblue;
    -fx-text-fill: white;
}

.menu_btn {
    -fx-pref-width: 60px;
    -fx-pref-height: 20px;
    -fx-background-color: white;
}

.menu_btn:hover {
    -fx-pref-width: 60px;
    -fx-pref-height: 20px;
    -fx-background-color: lightgrey;
}