.custom-button {
    -fx-font: 16px "Serif";
    -fx-padding: 10;
    -fx-background-color: #CCFF99;
}

#TextField {
    -fx-background-color: white;
}

.redd {
    -fx-background-color: #ffd9cc;
}

.clear {
    -fx-background-color: white;
}